/* styles.css */

.selected-test-details {
  display: flex;
  justify-content: space-between; /* Distribute space between boxes */
  padding: 20px; /* Add padding to the container */
}

.test-details-box {
  background-color: #E7E7E7;
  width: 186px; /* Set a fixed width for each box */
  height: 81px;
  border-radius: 11.67px;
  padding: 10px;
}
